<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 公用头部  -->
    <%= require('html-loader!./layout/head-common.html')  %>
        <title>
            <%= htmlWebpackPlugin.options.title%> - TaoMall电商平台
        </title>
</head>

<body>
    <!-- 页面头部  -->
    <%= require('html-loader!./layout/headersm.html')  %>
        <div class="page-center">
            <div class="container">
                <h1 class="title">
                    找回密码
                </h1>
                <div class="content username-reset">
                     <p class="question-continer"></p>
                    <div class="hitn">
                        <span class="error hidden">
                        <i></i>请输入用户名</span>
                    </div>
                    <div class="input-content clearfixe">
                        <i class="fa fa-user float-left"></i>
                        <input type="text" class="username input float-left" placeholder="请输入用户名">
                    </div>
                    <div class="button username-submit">
                        下一步
                    </div>
                </div>

                <div class="content answer-reset hidden">
                    <p class="question-continer">密码提示问题为: <span class="question"></span></p>
                    <div class="hitn">
                        <span class="error hidden">
                        <i></i> 请输入问题答案</span>
                    </div>
                    <div class="input-content clearfixe">
                        <i class="fa fa-key float-left"></i>
                        <input type="text" class="answer  input float-left" placeholder="请输入问题答案">
                    </div>
                    <div class="button answer-submit">
                        下一步
                    </div>
                </div>
                <div class="content passwordNew-reset hidden">
                    <p class="question-continer"></p>
                     <div class="hitn">
                        <span class="error hidden">
                        <i></i> 请输入新密码</span>
                    </div>
                    <div class="input-content clearfixe">
                        <i class="fa fa-lock float-left"></i>
                        <input type="text" class="passwordNew input  float-left" placeholder="请输入新密码">
                    </div>
                    <div class="button passwordNew-submit">
                        下一步
                    </div>
                </div>
            </div>
        </div>
        <!-- 页面底部  -->
        <%= require('html-loader!./layout/footersm.html')  %>
</body>

</html>