<div class="bottom">
            <div class="links">
                <a class="link" href="http://www.hxsd.com" target="_blank">火星时代</a>
                <span></span>
                <a class="link" href="http://www.hxsd.tv" target="_blank">火星网校</a>
                <span></span>
                <a class="link" href="http://www.imooc.com" target="_blank">慕课网</a>
                <span></span>
                <a class="link" href="https://juejin.im/" target="_blank">掘金</a>
                <span></span>
                <a class="link" href="http://www.alloyteam.com/nav/" target="_blank">WEB前端导航</a>
                <span></span>
                <a class="link" href="https://354290585.github.io/gallery-by-react/" target="_blank">Demp1</a>
                <span></span>
                <a class="link" href="https://354290585.github.io/responsive/" target="_blank">Demo2</a>
                <span></span>
                <a class="link" href="https://facebook.github.io/react/" target="_blank">React</a>
                <span></span>
                <a class="link" href="http://cn.redux.js.org/" target="_blank">Redux</a>
                <span></span>
                <a class="link" href="https://ant.design/index-cn" target="_blank">And Design</a>
            </div>
            <p class="copyright">
                Copyright © 2017 Taomall.com All Right Reserved
            </p>
        </div>