<div class="header">
    <div class="w clearfixe">
        <a href="./index.html">
            <div class="logo">
                <img src="../../imgage/logo.png" alt="logo" class="logo">
            </div>
        </a>
        <div class="search">
            <div class="search-top">
                <input type="text" placeholder="苹果7" class="search-input"><button class="btn-s"><i class="fa fa-search"></i>
            </button>
            </div>
            <div class="search-bottom">
                <a href="#javascript" class="link">低至7折</a>
                <a href="#javascript" class="link">JD&nbsp;tab</a>
                <a href="#javascript" class="link">1元免邮</a>
                <a href="#javascript" class="link">夏装6折</a>
                <a href="#javascript" class="link">抽奖赢空调</a>
                <a href="#javascript" class="link">外置光驱</a>
                <a href="#javascript" class="link">厨房置物架</a>
                <a href="#javascript" class="link">牙膏</a>
                <a href="#javascript" class="link">蓝牙音箱</a>
            </div>
        </div>
        <div class="shopping-car">
            <div class="content">
                <a href="./cart.html">
                    <i class="fa fa-shopping-cart"></i>
                    <span>我的购物车</span>
                    <span class="shopping-count">0</span>
                </a>
            </div>
            <div class="shaopping-content hidden">

            </div>
        </div>
        <ul class="nav-bottom clearfixe">
            <li>
                <a href="#javascript">秒杀</a>
            </li>
            <li>
                <a href="#javascript">优惠券</a>
            </li>
            <li>
                <a href="#javascript">闪购</a>
            </li>
            <li>
                <a href="#javascript">拍卖</a>
            </li>
            <li>
                <a href="#javascript">服装城</a>
            </li>
            <li>
                <a href="#javascript">超市</a>
            </li>
            <li>
                <a href="#javascript">生鲜</a>
            </li>
            <li>
                <a href="#javascript">全球购</a>
            </li>
            <li>
                <a href="#javascript">Mall金融</a>
            </li>
        </ul>

    </div>
</div>