<div class="nav">
    <div class="w clearfixe">
        <span class="link">
            <i class="fa fa-map-marker map"></i>北京
        </span>
        <ul class="float-right clearfixe">
            <li>
                <span class="user-login">
                    <span class="link js-login">
                        你好&nbsp,&nbsp请登录
                    </span>
                <span class="link reist js-register">&nbsp免费注册</span>
                </span>
                <span class="user-info1 hidden">
                    <span class="link-text js-user-center">
                        欢迎,<span class="username"></span>
                    </span>
                    <span class="link js-logout">退出</span>
                </span>
            </li>
            <li></li>
            <a href="./order-list.html"><li><span class="link">我的订单</span></li></a>
            <li></li>
            <li class="myMall">
                <div class="content">
                    <span class="link">我的Mall 
                        <i class="fa  fa-angle-down sanjiao"></i>
                    </span>
                </div>
                <div class="drop hidden">
                    <div class="drop-list clearfixe">
                        <div class="float-left">
                            <a href="#javascript">待处理订单</a><br>
                            <a href="#javascript">返修退换货</a><br>
                            <a href="#javascript">降价商品</a>
                        </div>
                        <div class="float-left">
                            <a href="#javascript">消息</a><br>
                            <a href="#javascript">我的问答</a><br>
                            <a href="#javascript">我的关注</a>
                        </div>
                    </div>
                    <div class="drop-list border clearfixe">
                        <div class="float-left">
                            <a href="#javascript">我的京豆</a><br>
                            <a href="#javascript">我的白条</a>
                        </div>
                        <div class="float-left">
                            <a href="#javascript">我的优惠券</a><br>
                            <a href="#javascript">我的理财</a>
                        </div>
                    </div>
                </div>
            </li>
            <li></li>
            <li>
                <span class="link">Mall会员</span>
            </li>
            <li></li>
            <li class="kehu">
                <div class="content2">
                    <span class="link">客户服务
                        <i class="fa  fa-angle-down sanjiao1"></i>
                    </span>
                </div>
                <div class="drop2 hidden">
                    <div class="drop2-list clearfixe"><span class="title">客户</span>
                        <div class="float-left">
                            <a href="#javascript">帮助中心</a><br>
                            <a href="#javascript">在线客服</a><br>
                            <a href="#javascript">电话客服</a><br>
                            <a href="#javascript">金融资讯</a>
                        </div>
                        <div class="float-left">
                            <a href="#javascript">售后服务</a><br>
                            <a href="#javascript">意见建议</a><br>
                            <a href="#javascript">客服邮箱</a><br>
                            <a href="#javascript">全球客服</a>
                        </div>
                    </div>
                    <div class="drop2-list border clearfixe">
                        <span class="title">商户</span>
                        <div class="float-left">
                            <a href="#javascript">合作招商</a><br>
                            <a href="#javascript">商家后台</a><br>
                            <a href="#javascript">商家帮助</a>
                        </div>
                        <div class="float-left">
                            <a href="#javascript">京东商学院</a><br>
                            <a href="#javascript">京麦工作台</a><br>
                            <a href="#javascript">规则平台</a>
                        </div>
                    </div>
                </div>
            </li>
            <li></li>
            <li><span class="link">企业采购</span></li>
        </ul>
    </div>
</div>