/*
 * @Author: lptTao 
 * @Date: 2017-08-02 16:43:36 
 * @Last Modified by: lptTao
 * @Last Modified time: 2017-08-22 19:58:01
 */

body {
    background-color: #fff;
}

.page-center .container {
    width: 400px;
    height: 277px;
    margin: 100px auto 300px auto;
}

.page-center .container .title {
    font-size: 20px;
    height: 50px;
    color: #666;
    line-height: 50px;
    text-align: center;
    margin: 0;
}

.content {
    padding-left: 15px;
}

.content .error {
    color: red;
    font-size: 14px;
}

.question-continer {
    font-size: 14px;
    color: #666;
    height: 21px;
}

.question {
    color: red;
}

.content .hitn {
    height: 21px;
    margin-top: 2px;
}

.content .error i {
    background: url(//misc.360buyimg.com/user/reg/1.0.0/css/i/icon.png) no-repeat;
    background-position: -17px -100px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    padding-right:2x;
}

.input-content {
    margin-top: 8px;
    border: 1px solid #c5c5c5;
}

.input-content i {
    display: inline-block;
    width: 50px;
    font-size: 18px;
    background-color: #f3f3f3;
    text-align: center;
    line-height: 45px;
    color: #d3d3d3;
}

.input-content input {
    width: 280px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: #333;
    border: none;
    outline: none;
    padding-left: 15px;
}

.button {
    margin-top: 20px;
    width: 385px;
    background-color: red;
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}